{
{% if epic_url != "PLACEHOLDER" %}
   ,"epic_url": "{{ epic_url }}",
    "epic_handle_prefix": "{{ epic_handle_prefix }}",
    "epic_key": "{{ credentials_store }}/epic_key.pem",
    "epic_certificate": "{{ credentials_store }}/epic_cert.pem"
{% endif %}
}
