[Unit]
Description=iRODS
After=local-fs.target network.target

[Service]
Type=notify-reload
ExecStart=/usr/sbin/irodsServer
KillMode=mixed
Restart=on-failure
User={{ irods_service_account }}
Group={{ irods_service_account }}
WorkingDirectory=/var/lib/irods
RestartPreventExitStatus=255
LimitNOFILE={{ irods_max_open_files | string }}

[Install]
WantedBy=multi-user.target
