---
# copyright Utrecht University

- name: Find out if we need to install iRODS iCommands rpm
  stat:
    path: '/etc/irods'
  register: irods_server


- name: Ensure iRODS 4.2.6 packages are absent
  package:
    name:
      - irods-uu-microservices-4.2.6_0.8.0
      - irods-sudo-microservices-4.2.6_1.0.0
      - davrods-4.2.6_1.4.2
      - irods-runtime-4.2.6
      - irods-server-4.2.6
      - irods-rule-engine-plugin-python-4.2.6
      - irods-icommands-4.2.6
      - irods-database-plugin-postgres-4.2.6
    state: absent


- name: Ensure iRODS iCommands is installed
  yum:
    name: irods-icommands-4.2.7-1
    state: present
  when: not irods_server.stat.exists and not ansible_check_mode
