---
# copyright Utrecht University

- name: Ensure Apache webserver is installed
  package:
    name:
      - httpd
      - httpd-devel
      - mod_ssl
      - openssl
    state: present


- name: Allow public to ports for Apache in firewall
  firewalld:
    port: '{{ item }}'
    permanent: true
    state: enabled
    immediate: yes
  with_items:
    - 80/tcp
    - 443/tcp
  notify: Restart firewall


- name: Ensure customized httpd config is present
  template:
    src: 'httpd.conf.j2'
    dest: '/etc/httpd/conf/httpd.conf'
    mode: 0600
  notify: Restart Apache webserver


- name: Ensure customized SSL config is present
  template:
    src: 'ssl.conf.j2'
    dest: '/etc/httpd/conf.d/ssl.conf'
    mode: 0600
  notify: Restart Apache webserver


- name: Ensure autoindex.conf is absent
  file:
    path: '{{ item }}'
    state: absent
  notify: Restart Apache webserver
  with_items:
  - /etc/httpd/conf.d/autoindex.conf


- name: Ensure Apache mod_lua is disabled
  file:
    path: /etc/httpd/conf.modules.d/00-lua.conf
    state: absent
  notify: Restart Apache webserver


- name: Ensure Apache service is configured
  service:
    name: httpd
    state: started
    enabled: '{{ yoda_enable_httpd }}'
