#!/usr/bin/env python
# {{ ansible_managed }}
import requests
import os
import sys

r = requests.post('https://{{ eus_api_fqdn }}:{{ eus_api_port }}/api/user/auth-check',
                  headers={'X-Yoda-External-User-Secret': '{{ eus_api_secret }}'},
                  auth=(os.getenv('PAM_USER'), sys.stdin.readline()),
                  verify={{ ["False", "True"][eus_api_tls_verify|int] }})

if r.status_code == 200 and r.text == 'Authenticated':
    sys.exit(0)
else:
    sys.exit(1)
