# {{ ansible_managed }}
#%PAM-1.0

auth        optional      pam_faildelay.so delay={{ pam_fail_delay }}
auth        sufficient    pam_unix.so

{% if external_users %}
auth [success=ignore default=1] pam_exec.so /usr/local/bin/is-user-external.sh
auth [success=done default=die] pam_exec.so expose_authtok /usr/local/bin/external-auth.py
{% endif %}

{% if oidc_active is defined and oidc_active is sameas true %}
auth        sufficient    pam_radius_auth.so
auth        required      pam_python.so /var/lib/irods/msiExecCmd_bin/oidc.py {% else %}
auth        required      pam_radius_auth.so
{% endif %}
