# {{ ansible_managed }}
#%PAM-1.0

auth        optional      pam_faildelay.so delay={{ pam_fail_delay }}

{% if enable_tokens or ( oidc_active is defined and oidc_active is sameas true ) %}
# Need to call pam_unix first in order to retrieve authentication token for pam_python
auth        sufficient      pam_unix.so
{% endif %}

{% if enable_tokens %}
auth        sufficient      pam_python.so /usr/local/bin/token-auth.py
{% endif %}

{% if oidc_active is defined and oidc_active is sameas true %}
auth        sufficient      pam_python.so /var/lib/irods/msiExecCmd_bin/oidc.py
{% endif %}

{% if external_users %}
auth [success=ignore default=1] pam_exec.so /usr/local/bin/is-user-external.sh
auth [success=done default=die] pam_exec.so expose_authtok /usr/local/bin/external-auth.py
{% endif %}

auth        required    pam_unix.so
