#!/bin/bash
# {{ ansible_managed }}

{% if external_users_domain  %}
[[ "$PAM_USER" =~ .*@.* ]] && [[ ! "$PAM_USER" =~ [.@]{{external_users_domain}}$ ]]
{% else %}
[[ "$PAM_USER" =~ .*@.* ]]
{% endif %}
