#!/bin/bash
# {{ ansible_managed }}

{% if external_users_domain_filter  %}
[[ "$PAM_USER" =~ .*@.* ]] && [[ ! "$PAM_USER" =~ [.@]({{external_users_domain_filter | replace('.', '\.')}})$ ]]
{% else %}
[[ "$PAM_USER" =~ .*@.* ]]
{% endif %}
