import sqlite3
from traceback import print_exc

TOKEN_DB = '/etc/irods/irods-ruleset-uu/tokens.db'


def pam_sm_authenticate(pamh, flags, argv):
    try:
        user_id = pamh.get_user()
    except Exception:
        return pamh.PAM_USER_UNKNOWN

    token = pamh.authtok
    if token is None:
        return pamh.PAM_AUTH_ERR

    authenticated = False
    conn = sqlite3.connect(TOKEN_DB)

    with conn:
        try:
            for row in conn.execute('''
SELECT token FROM tokens WHERE user=:user_id''', {"user_id": user_id}):
                # TODO: We are not taking any expiration time into account
                # nor do we change the expiration when activity occurs
                if token == row[0]:
                    authenticated = True
                    break
        except Exception:
            print_exc()

    conn.close()

    if authenticated:
        return pamh.PAM_SUCCESS
    else:
        return pamh.PAM_AUTH_ERR
