[defaults]
inventory = ./environments/development/allinone
host_key_checking = False
roles_path = ./roles
# Reduce poll interval to 5s (default 15s)
poll_interval = 5
# Enable timer plugin.
callbacks_enabled = timer
# Disable cowsay.
nocows = 1

[ssh_connection]
# Enable SSH pipelining.
pipelining = True
# Enable SSH multiplexing.
ssh_args = -o ControlMaster=auto -o ControlPersist=60s
control_path = /tmp/ansible-ssh-%%h-%%p-%%r
