---
# This playbook deploys the whole application stack in this site.

- name: apply common configuration to all nodes
  hosts: all
  become: yes

  roles:
    - common

- name: provision portal server
  hosts: portal
  become: yes

  roles:
    - apache
    - php
