# Yoda ruleset configuration.
# This file should be named "rules_uu.cfg" in the root of this ruleset package.
#
# All non-empty values must be quoted with single quotes (')
# Special characters, including "'", must not be escaped.
# A missing value (interpreted as None) usually means a feature is disabled.

environment                    = 'development'

default_yoda_schema            = 'default-3'

resource_primary               = 'irodsResc'
resource_replica               = 'irodsRescRepl'
resource_research              = 'irodsResc'
resource_vault                 = 'irodsResc'
resource_trigger_pol           = ''
resource_repl_exempt           = ''
enable_nfs_resource            = 'false'

notifications_enabled          = 'true'
notifications_sender_email     = 'noreply@yoda.test'
notifications_sender_name      = 'Yoda system'
notifications_reply_to         = 'noreply@yoda.test'

smtp_server                    = 'smtp://mailpit.yoda:1025'
smtp_username                  = 'PLACEHOLDER'
smtp_password                  = 'PLACEHOLDER'
smtp_auth                      = 'false'
smtp_starttls                  = 'false'

datacite_rest_api_url          = 'https://datacite-mock.yoda'
datacite_username              = 'PLACEHOLDER'
datacite_password              = 'PLACEHOLDER'
datacite_publisher             = 'Yoda development team'
datacite_tls_verify            = 'false'

eus_api_fqdn                   = 'eus.yoda'
eus_api_port                   = '8443'
eus_api_secret                 = 'PLACEHOLDER'
eus_api_tls_verify             = 'false'

enable_deposit                 = 'true'
enable_open_search             = 'false'
enable_datarequest             = 'true'
yoda_portal_fqdn               = 'portal.yoda'

epic_pid_enabled               = 'false'

enable_data_package_reference  = 'true'

enable_tokens                  = 'true'
token_database                 = '/etc/irods/yoda-ruleset/accesstokens.db'
token_database_password        = 'test'
token_length                   = '32'
token_lifetime                 = '72'
token_expiration_notification  = '24'

enable_data_package_archive    = 'false'
enable_data_package_download   = 'false'

async_replication_delay_time   = '3600'
async_replication_max_rss      = '1000000000'
async_revision_delay_time      = '0'
async_revision_max_rss         = '1000000000'

enable_inactivity_notification = 'true'
inactivity_cutoff_months       = '3'

temporary_files                = '._* .DS_Store Thumbs.db'

external_users_domain_filter   = '*.yoda.dev'

enable_sram                    = 'true'
sram_rest_api_url              = 'https://sram-mock.yoda.test'
sram_api_key                   = 'PLACEHOLDER'
sram_service_entity_id         = 'PLACEHOLDER'
sram_verbose_logging           = 'true'
sram_tls_verify                = 'false'
sram_co_default_label          = 'PLACEHOLDER'
sram_co_logo                   = 'data:image/png;base64, iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAABmJLR0QA/wD/AP+gvaeTAAAACXBI WXMAAC4jAAAuIwF4pT92AAAAB3RJTUUH6QERDRQzsfzcsAAABpdJREFUaN7VmnuIVUUYwH9nVzN3 eoyPNDJ7qfmalbWEssK/epO9k8rCIoUILa3sYWqGhVZmuhVSQmiYKWVvCPojysKEtMwd05VWCITw eSdw1rJ2b3/cuXQ8zpx77uuPPjiwd75vzpzvMd9zI+oEVssfgSHAaW7pCPCrUGZsPc7rQf0g+cGn AC31OqyhQmmPtlqusVo+WEMNPmm1XG+1bK5kf1TmYX2BxcBUt/cQREOFyhkPbd73DqFM5KEdCHQA wi2tAmYLZQ7WXCNWy4nATmBaTAD9IP9cDRTyYowJgPuAXVbLm+thWrOAAZ71h6yWI6swqXHAFA+q H3BPPRiZAXQHHMayKrTxemD9T+CJmjMilNkBrAigr7Za3lCBNu4FLgmglwtl9tTLa80HcgHcEqv7 nJSdiT5NznH4YB9EC+vmfoUyh4F5AfRwyD+c/W35OcBZAeRTQuVsVYxYLW+0Wr5rtRzs39JzBbAj pDGr5RkZTOo84NEAeqtQZlVg30ir5ZdWy1tTGXFxYiVwt3N/C5wJxLRyoBsISf5UYFEGAb4E9E5x KkkzPN1quQxoA64CViYF1uA5oOhim4BnId9utZycMLGvgA8DH/KA1XJsijYmAHcE0GuFMt8Xf3Tu GBQVsod8B/AI0OhQfYEl3shutRwN6BQprhPK3BWjHwCMDtDuBXYHcCNS7sZ2ocyh2BmfAWnecKxQ ZlsyaXymhDkMTWhlP7A/RfIhh9EOtGe8w2eWwM8DbkuaVjvQyf8HDPC1N2m0Wp7tfPtkz8a/gY2F J3pZqNxRjxZaXIDLA28GPqCYMW8Wyvzsudi9IT8bmOCenkm/7QLzPBcOwtmv1XI80AqMC7lZocxC z75B7m40lZBmJzBUKPO75x3zgVAi+jUw3WUZ2dN4q+UUl5kO9HxIsy+FsFouBp4swcgiocwcz94h wHaPIPYATwhlNlQU2YUyqyEa4swtbkpNwKuBEucFIK2OOAhRKNYsSzBhC04oUmlMlFVYOWktBm6P LU8UynzuoZ3hTNMH04Uyb/gyCuCT2NIap4Xfa14hxgLa60BzoaqLxgiV6zyepm8P6N4BXJjY3g4N o4U63HViApnXwPnAFmCGUGZzWaWu1fIHT1MgKsF8FKN5TiizwMPwJGB9YnmSUOZ9D+1CYG4VrviX yGppM3iZNDgKjBHK/Or5wE3AePdzk1Dmcg/NMHfBT67iG7oaqmQCl/wtD+AeD/wdh9YqmQBojELd jgrgFqHMxx6JfwB0C2UmeXC3AhtqcXgtTKsIv0E06sSLL4cDeaHMbs8F3wmcU4OzuxrKSOBKwbmQ f8aXJCaZcJnG3DKYyKc83UB7Je63BXgDuCzQ+WhxGW7aO0YA24BeHnSbizUb61KzWy3PsFquBH4K MIG7tK0ZXtcaYAIXn76xWr5vtbygZi1Tq/v2hO4ZwAJXymZpUpTK4bI6mKOFtCV6oVQzoqHEgddD dxvwSlYmagy9gach3+ES2PI04mx4KXBdJafXUCNJ2AI8HK/rA12UPqdZLZe6SJuFiQPAxzWQ/Kcu VS8F44BNbqQxyMuI1XKq61bM8lRlSTjmzG1USgOiHLjUPXNc6l4KJgO7XRF2gkauBPpneMlnrqh6 HLgfGFYDRgZQmIcsojCuW51hTxNwsa8d1OxMKgQ7gZlCmS9j7aAOCiO1WtyRv1zyudvRjHNuenya qQllth6nEaFMG/C2h/gPYCY0NheZKJarCSb2u8v4bgZprnW0B2JrveJNN6HMFqHMZRRmJHs971hT ZMLXRenvJN/fhf+3gLnJEZjrJP7ofh6CxoFCHeqqxKas7tcIXSYmlGsSAsPqPsJ1VmY7kzLACKHM vqD7tVreRKHBPN1pyWca3wJXFD2XUGZANRfEavkH/42xd0LDGKEO/+OhG+zK7Y+EMh9UW+reCbwX W8pRaCwDUUdxMGq1vDgQY7bGst/iyO4bjp8hzhTKLC8rjS+PidTUez9EQ4TKHXGMHPO58aIjKAyF 8tuB4YEu4rC6THVdNv1YSur9dJGJbNE/dwx4LICWwPN10YiLpO0JEyjCT0KZixL0qRqJ0X0BXBuo QVqEMttrrZHFASYgPPjJArMo9JV9Qm6th2ltKLjaE2CdUOa7SrkQyuzCP6LOAa/VnBHXWBhB4d8r itBJ6T5vFgtfkGizvuPixIa6eK2YXY9xDbVdQpn5AZpMdyRGP83dlYXFKVTd3G+ZzHbiGXiWysMq hQbqB20u3Y+n/m31OuxfNE90gC6jqV0AAAAASUVORK5CYII='
sram_co_default_admins         = 'sram-admin@yoda.test'
sram_external_users_co         = '76f1e2c9-a548-4019-a281-ece2da3fd642'

arb_enabled                     = 'false'
arb_exempt_resources            = ''
arb_min_gb_free                 = '0'
arb_min_percent_free            = '0'

vault_copy_backoff_time         = '300'
vault_copy_max_retries          = '5'
vault_copy_multithread_enabled  = 'true'

remote_anonymous_access         = ''
user_max_connections_enabled    = 'false'
user_max_connections_number     = '4'

text_file_extensions            = 'bash csv c cpp csharp css diff fortran gams gauss go graphql ini irpf90 java js json julia julia-repl kotlin less lua makefile markdown md mathematica matlab maxima mizar objectivec openscad perl php php-template plaintext txt python py python-repl r ruby rust sas scilab scss shell sh sql stan stata swift typescript ts vbnet wasm xml yaml html'
notifications_enabled           = 'true'

measure_coverage                = 'false'
pregenerated_data_dir           = '/var/lib/irods/yoda-pregenerated-data'

matomo_tracking_enabled        = 'false'
matomo_counter_enabled         = 'false'
matomo_server_fqdn             = ''
matomo_site_id                 = '1'
