# {{ ansible_managed }}
BIND=:{{ anubis_davrods_bind_port }}
DIFFICULTY=4
METRICS_BIND=:9090
SERVE_ROBOTS_TXT=0
METRICS_BIND_NETWORK=tcp
POLICY_FNAME=/etc/anubis/yoda.botPolicies.yaml
TARGET=https://{{ yoda_public_host }}:{{ anubis_davrods_port }}
