# {{ ansible_managed }}
BIND=:{{ anubis_landingpages_bind_port }}
DIFFICULTY=4
METRICS_BIND=:9091
SERVE_ROBOTS_TXT=0
METRICS_BIND_NETWORK=tcp
POLICY_FNAME=/etc/anubis/yoda.botPolicies.yaml
TARGET=https://{{ yoda_public_host }}:{{ anubis_landingpages_port }}
ED25519_PRIVATE_KEY_HEX_FILE="{{ anubis_redis_priv_key_path }}"
