# {{ ansible_managed }}
BIND=:{{ anubis_landingpages_bind_port }}
DIFFICULTY=4
METRICS_BIND=:9091
SERVE_ROBOTS_TXT=0
METRICS_BIND_NETWORK=tcp
POLICY_FNAME=/etc/anubis/yoda.landingpages.botPolicies.yaml
TARGET=https://{{ yoda_public_host }}:{{ anubis_landingpages_port }}
ED25519_PRIVATE_KEY_HEX="{{ anubis_ed25519_private_key }}"
COOKIE_DYNAMIC_DOMAIN=true
{% if yoda_public_port == 443 %}
REDIRECT_DOMAINS="{{ yoda_public_fqdn }}"
{% else %}
REDIRECT_DOMAINS="{{ yoda_public_fqdn }}:{{ yoda_public_port }}"
{% endif %}
