# davrods-vhost.conf
#
# davrods is a mod_dav WebDAV provider. Configuration directives for davrods
# should be placed in a <Location> block.
#
# Below we provide an example vhost configuration that enables davrods using
# its default options.
#
<VirtualHost *:8080>

    # Enter your server name here.
    ServerName {{ yoda_disk_vhost }}

    # NB: Some webdav clients expect the server to implement webdav at the root
    # location (they execute an OPTIONS request to verify existence of webdav
    # protocol support).

    <Location />

        # Options needed to enable davrods. 
        # =================================

        # Disable built-in directory listings.
        DirectoryIndex disabled

        # Restrict access to authenticated users.
        AuthType Basic
        Require valid-user

        # The realm name that will be shown to clients upon authentication
        AuthName DAV

        # Use the 'irods' HTTP basic authentication provider, implemented by
        # davrods. This provider is used for setting up the iRODS connection,
        # and is therefore required for davrods to function.
        AuthBasicProvider irods

        # The DAV provider for this location.
        #
        # davrods implements multiple dav providers, use either:
        # - davrods-nolocks:                 WebDAV class 1 provider, no support for locking
        # - davrods-locallock (recommended): WebDAV class 2 provider, uses a DBM lock database local to this webserver
        #
        Dav davrods-locallock

        # 

        # davrods configuration directives. 
        # =================================

        # Location of the iRODS environment file that specifies the iRODS
        # client configuration used by davrods.
        #
        # Note: When options in the iRODS environment file overlap with Davrods
        # configuration directives, as with the host, port, and zone of the
        # iRODS server, the values specified in the iRODS environment file are
        # NOT used.
        #
        DavRodsEnvFile  /etc/httpd/irods/irods_environment.json

        # The following options can be used to customize davrods for your environment.
        # These options and their default values are provided below.
        # Having these directives commented out has the effect of enabling
        # the listed default option.

        # Hostname and port of the iRODS server to connect to.
        #
        #DavRodsServer localhost 1247
        DavRodsServer          {{ irods_icat_host }} {{ irods_port }}
        # Data grid zone id of the iRODS server.
        #
        #DavRodsZone tempZone
        DavRodsZone            {{ irods_zone }}
        # Authentication type to use when connecting to iRODS.
        #
        # Supported authentication types are 'Native' and 'Pam'.
        # ('Native' corresponds to what was formerly called 'Standard' auth in iRODS).
        #
        #DavRodsAuthScheme Native
        DavRodsAuthScheme      {{ yoda_davrods_authentication }}
        # iRODS default resource to use for file uploads.
        #
        # Leave this empty to let the server decide.
        #
        #DavRodsDefaultResource ""

        # Exposed top collection of iRODS.
        #
        # Note that the collection chosen MUST be readable for all users,
        # otherwise they will experience problems when mounting the drive.
        # For example, if you set it to "Home", then as a rodsadmin user
        # execute the icommand: ichmod read public /zone-name/home
        #
        # Davrods accepts the following values for exposed-root:
        # - 'Zone'      (collection /zone-name)
        # - 'Home'      (collection /zone-name/home)
        # - 'User'      (collection /zone-name/home/logged-in-username)
        # - full-path   (named collection, must be absolute path, starts with /)
        #
        #DavRodsExposedRoot  User
        DavRodsExposedRoot     Home
        # Size of the buffers used for file transfer to/from the iRODS server.
        #
        # The default values optimize performance for regular configurations.
        # The Tx buffer is used for transfer to iRODS (PUT), while the Rx
        # buffer is used for transfer from iRODS (GET).
        # Buffer sizes lower than 1024K will lead to decreased file transfer performance.
        #
        # The buffer sizes are specified as a number of kibibytes ('1' means 1024 bytes).
        # We use 4 MiB transfer buffers by default.
        #
        #DavRodsTxBufferKbs     4096
        #DavRodsRxBufferKbs     4096

        # Optionally davrods can support rollback for aborted uploads. In this scenario
        # a temporary file is created during upload and upon succesful transfer this
        # temporary file is renamed to the destination filename.
        # NB: Please note that the use of temporary files may conflict with your iRODS
        # data policies (e.g. a acPostProcForPut would act upon the temporary filename).
        # Valid values for this option are 'Yes' and 'No'.
        #
        #DavRodsTmpfileRollback No

        # When using the davrods-locallock DAV provider (see the 'Dav'
        # directive above), this option can be used to set the location of the
        # lock database.
        #
        #DavRodsLockDB          /var/lib/davrods/lockdb_locallock

    </Location>

    SSLEngine on

    SSLProtocol all -SSLv2 -SSLv3

    SSLCipherSuite HIGH:MEDIUM:!aNULL:!MD5

    SSLCertificateFile /etc/pki/tls/certs/localhost.crt
    SSLCertificateKeyFile /etc/pki/tls/private/localhost.key

    CustomLog logs/ssl_request_log \
              "%t %h %{SSL_PROTOCOL}x %{SSL_CIPHER}x \"%r\" %b"
</VirtualHost>