<!-- start header.html -->
<div class="brandbar container">
    <div class="logo pull-left">
        <a href="http://www.uu.nl">
            <img src="https://{{ yoda_portal_fqdn }}/static/img/logo-uu.svg" />
        </a>
    </div>
</div>

<nav class="navbar navbar-inverse navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="https://{{ yoda_davrods_anonymous_fqdn }}/">Yoda Open Data</a>
        </div>
    </div>
</nav>

<div class="container page yoda-table">
<!-- end header.html -->
