<!-- start head.html -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="https://{{ yoda_portal_fqdn }}/static/lib/bootstrap/css/bootstrap.min.css?version=1.0">
<link rel="stylesheet" href="https://{{ yoda_portal_fqdn }}/static/css/yoda-portal.css?version=1.0">
<!-- end head.html -->
