# {{ ansible_managed }}
{
    "irods_host": "{{ irods_icat_fqdn }}",
    "irods_port": {{ irods_icat_port }},
    "irods_default_resource": "",
    "irods_home": "/{{irods_zone}}/home",
    "irods_cwd": "/{{irods_zone}}/home",
    "irods_user_name": "your username",
    "irods_zone_name": "{{ irods_zone }}",
    "irods_client_server_negotiation": "none",
    "irods_client_server_policy": "CS_NEG_DONT_CARE",
    "irods_encryption_key_size": 32,
    "irods_encryption_salt_size": 8,
    "irods_encryption_num_hash_rounds": 16,
    "irods_encryption_algorithm": "AES-256-CBC",
    "irods_default_hash_scheme": "SHA256",
    "irods_match_hash_policy": "compatible",
    "irods_server_control_plane_port": 1248,
    "irods_server_control_plane_key": "TEMPORARY__32byte_ctrl_plane_key",
    "irods_server_control_plane_encryption_num_hash_rounds": 16,
    "irods_server_control_plane_encryption_algorithm": "AES-256-CBC",
    "irods_maximum_size_for_single_buffer_in_megabytes": 32,
    "irods_default_number_of_transfer_threads": 4,
    "irods_transfer_buffer_size_for_parallel_transfer_in_megabytes": 4,
    "irods_ssl_certificate_chain_file": "/etc/irods/yoda_signed.crt",
    "irods_ssl_certificate_key_file": "/etc/irods/yoda_key_signed.pem",
    "irods_ssl_dh_params_file": "/etc/irods/yoda_dhparams.pem",
    "irods_client_server_policy": "CS_NEG_REQUIRE",
    "irods_ssl_verify_server": "none"
}
