#!/usr/bin/python3
activate_this = '{{ yoda_moai_home }}/yoda-moai/venv/bin/activate_this.py'
exec(compile(open(activate_this).read(), activate_this, 'exec'), dict(__file__=activate_this))

import sys
import os
import site
import tempfile
import configparser

os.environ['PYTHON_EGG_CACHE'] = tempfile.mkdtemp(prefix='moai-egg-cache-')

from paste.deploy import loadapp

if sys.version_info >= (2, 6):
    from logging.config import fileConfig
else:
    from paste.script.util.logging_config import fileConfig

config_file = '{{ yoda_moai_home }}/settings.ini'
application = loadapp('config:%s' % config_file)
