# {{ ansible_managed }}
# Last Modified: Tue Oct 22 13:36:14 2024
#include <tunables/global>

# ------------------------------------------------------------------
#
#    Copyright (C) 2002-2005 Novell/SUSE
#
#    This program is free software; you can redistribute it and/or
#    modify it under the terms of version 2 of the GNU General Public
#    License published by the Free Software Foundation.
#
# ------------------------------------------------------------------


/usr/sbin/postqueue {
  #include <abstractions/base>
  #include <abstractions/consoles>
  #include <abstractions/kerberosclient>
  #include <abstractions/nameservice>
  #include <abstractions/postfix-common>

  capability dac_override,

  /etc/postfix r,
  /etc/postfix/dynamicmaps.cf.d/ r,
  /usr/lib/postfix/sbin/showq mrix,
  /usr/lib/postfix/showq Px,
  /usr/sbin/postqueue mrix,
  /var/spool/postfix r,
  /var/spool/postfix/maildrop r,
  /var/spool/postfix/maildrop/* rwl,
  /var/spool/postfix/pid r,
  /var/spool/postfix/public/pickup w,
  /var/spool/postfix/public/qmgr w,
  /var/spool/postfix/public/showq rw,

}
