# {{ ansible_managed }}
# Last Modified: Thu Mar 28 12:02:38 2024
#include <tunables/global>

# ------------------------------------------------------------------
#
#    Copyright (C) 2002-2005 Novell/SUSE
#
#    This program is free software; you can redistribute it and/or
#    modify it under the terms of version 2 of the GNU General Public
#    License published by the Free Software Foundation.
#
# ------------------------------------------------------------------
# vim:syntax=apparmor


/usr/sbin/postdrop {
  #include <abstractions/base>
  #include <abstractions/kerberosclient>
  #include <abstractions/nameservice>
  #include <abstractions/postfix-common>

  capability dac_override,
  capability dac_read_search,

  /etc/postfix r,
  /etc/postfix/dynamicmaps.cf.d/ r,
  /etc/postfix/main.cf r,
  /etc/postfix/postfix-script mrix,
  /usr/sbin/postdrop mrix,
  /var/spool/postfix r,
  /var/spool/postfix/maildrop r,
  /var/spool/postfix/maildrop/* rwl,
  /var/spool/postfix/pid r,
  /var/spool/postfix/public/pickup rw,
  @{PROC}/net/if_inet6 r,

}
