# {{ ansible_managed }}
# yoda-public-vhost.conf

{% if yoda_public_port != 443 %}
Listen {{ yoda_public_port }}
{% endif %}

<VirtualHost *:{{ yoda_public_port }}>
    DocumentRoot {{ landingpages_root }}
    ServerName {{ yoda_public_fqdn }}
    <Directory {{ landingpages_root }}>
        AllowOverride All
        Require all granted
    </Directory>

    WSGIDaemonProcess moai user={{ yoda_moai_user }} group={{ yoda_moai_user }} processes=2 threads=1
    WSGIProcessGroup moai
    WSGIScriptAlias /oai {{ yoda_moai_home }}/moai.wsgi
    WSGIScriptReloading On

    <Directory {{ yoda_moai_home }}>
        AllowOverride All
        Require all granted
    </Directory>

    #   SSL Engine Switch:
    #   Enable/Disable SSL for this virtual host.
    SSLEngine on

    #   SSL Protocol support:
    #   List the enable protocol levels with which clients will be able to
    #   connect.  Disable SSLv2 access by default:
    SSLProtocol all -SSLv2 -SSLv3

    #   SSL Cipher Suite:
    #   List the ciphers that the client is permitted to negotiate.
    #   See the mod_ssl documentation for a complete list.
    SSLCipherSuite HIGH:MEDIUM:!aNULL:!MD5

    #   Server Certificate:
    # Point SSLCertificateFile at a PEM encoded certificate.  If
    # the certificate is encrypted, then you will be prompted for a
    # pass phrase.  Note that a kill -HUP will prompt again.  A new
    # certificate can be generated using the genkey(1) command.
    SSLCertificateFile      {{ openssl_certs_dir }}/{{ openssl_crt_signed }}

    #   Server Private Key:
    #   If the key is not combined with the certificate, use this
    #   directive to point at the key file.  Keep in mind that if
    #   you've both a RSA and a DSA private key you can configure
    #   both in parallel (to also allow the use of DSA ciphers, etc.)
    SSLCertificateKeyFile   {{ openssl_private_dir }}/{{ openssl_key_signed }}
</VirtualHost>
