#!/usr/bin/env python

import json
import sys

def main(server_config_path, ruleset, reset):
  with open(server_config_path, 'r+') as f:

    server_config = json.load(f)
    if reset:
      server_config['re_rulebase_set'] = []
      server_config['re_rulebase_set'].insert(0, {'filename': 'core'})
    else:
      server_config['re_rulebase_set'].insert(0, {'filename': ruleset})
    f.seek(0)
    json.dump(server_config, f, indent=4, sort_keys=True)
    f.truncate()

if __name__ == '__main__':
  if len(sys.argv) == 3:
    server_config_path = sys.argv[1]
    ruleset = sys.argv[2]
    main(server_config_path, ruleset, 0)
  elif len(sys.argv) == 4:
    server_config_path = sys.argv[1]
    ruleset = sys.argv[2]
    reset = sys.argv[3]
    main(server_config_path, ruleset, reset)
  else:
    sys.exit('Usage: {0} server_config_path ruleset reset'.format(sys.argv[0]))
