<?php
config('db_host',       '{{ eus_db_host }}');
config('db_port',        {{ eus_db_port }});
config('db_name',       '{{ eus_db_name }}');
config('db_user',       '{{ eus_db_user }}');
config('db_password',   '{{ eus_db_password }}');
config('db_user_table', '{{ eus_db_user_table }}');

config('api_secret',    '{{ eus_api_secret }}');

config('smtp_host',            '{{ eus_smtp_host }}');
config('smtp_port',            '{{ eus_smtp_port }}');
config('smtp_user',            '{{ eus_smtp_user }}');
config('smtp_password',        '{{ eus_smtp_password }}');
config('smtp_from_name',       '{{ eus_smtp_from_name }}');
config('smtp_from_address',    '{{ eus_smtp_from_address }}');
config('smtp_replyto_name',    '{{ eus_smtp_replyto_name }}');
config('smtp_replyto_address', '{{ eus_smtp_replyto_address }}');

config('mail_template',         {{ eus_mail_template }});