<?php
config('db_host', 'localhost');
config('db_port', 5432);
config('db_name', 'extuser');
config('db_user', 'extuser');
config('db_password', 'extuser');
config('db_user_table', 'users');

config('api_secret', '{{ eus_api_secret }}');

config('smtp_host', '<INSERT SMTP ADDRESS>');
config('smtp_port', 587);
config('smtp_user', '<INSERT MAIL USERNAME>');
config('smtp_password', '<INSERT MAIL PASSWORD>');
config('smtp_from_name', 'Yoda External User Service');
config('smtp_from_address', '<INSERT FROM ADDRESS>');
config('smtp_replyto_name', '<INSERT HELPFUL REPLY-TO NAME>');
config('smtp_replyto_address', '<INSERT REPLY-TO_ADDRESS>');

config('mail_template',      {{ eus_mail_template }});