import sys
import os
import site
import tempfile
import ConfigParser

os.environ['PYTHON_EGG_CACHE'] = tempfile.mkdtemp(prefix='moai-egg-cache-')

from paste.deploy import loadapp

if sys.version_info >= (2, 6):
    from logging.config import fileConfig
else:
    from paste.script.util.logging_config import fileConfig

config_file = '{{ yoda_moai_home }}/settings.ini'

try:
    fileConfig(config_file)
except ConfigParser.NoSectionError:
    # no logging configured
    pass

application = loadapp('config:%s' % config_file)

