[composite:main]
use = egg:Paste#urlmap
/oai = yoda_moai

[app:yoda_moai]
use = egg:moai
name = MOAI YoDa Feed
url = http://{{ yoda_moai_fqdn }}/oai
admin_email = fb-yoda@uu.nl
formats = oai_dc mods
disallow_sets = private
database = {{ yoda_moai_database_connection_string }}
provider = file://{{ yoda_metadata_inbox }}
content = moai_yoda
forcedflush = 10000

[server:main]
use = egg:PasteScript#wsgiutils
host = 127.0.0.1
port = 8080

