# {{ ansible_managed }}
# yoda-moai-vhost.conf

{% if yoda_moai_port != 80 %}
Listen {{ yoda_moai_port }}
{% endif %}

<VirtualHost *:{{ yoda_moai_port }}>
    ServerName {{ yoda_moai_fqdn }}
    DocumentRoot /var/www/yoda/moai
    
    WSGIDaemonProcess moai user={{ yoda_deployment_user }} group={{ yoda_deployment_user }} processes=2 threads=1 python-home=/var/www/yoda/moai/venv
    WSGIProcessGroup moai
    WSGIScriptAlias / /var/www/yoda/moai/moai.wsgi
    WSGIScriptReloading On

    <Directory /var/www/yoda/moai>
        AllowOverride All
        Require all granted
    </Directory>
</VirtualHost>
