[ req ]
default_bits = 4096
default_md = sha256
prompt = no
encrypt_key = no
distinguished_name = dn
# We need x509_extensions instead of req_extensions here, because we are
# generating a self-signed certificate.
x509_extensions = req_ext

[ dn ]
CN = "provider.yoda"

[ req_ext ]
subjectAltName = "DNS:*.yoda"
