/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */
/******************************************************************
Site Name:
Author:

Stylesheet: Print Stylesheet

This is the print stylesheet. There's probably not a lot
of reasons to edit this stylesheet. If you want to
though, go for it.

******************************************************************/
/* line 13, ../scss/includes/_print.scss */
* {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important; }

/* line 21, ../scss/includes/_print.scss */
a, a:visited {
    color: #444 !important;
    text-decoration: underline; }
/* line 26, ../scss/includes/_print.scss */
a:after, a:visited:after {
    content: " (" attr(href) ")"; }
/* line 31, ../scss/includes/_print.scss */
a abbr[title]:after, a:visited abbr[title]:after {
    content: " (" attr(title) ")"; }

/* line 36, ../scss/includes/_print.scss */
.ir a:after,
a[href^="javascript:"]:after,
a[href^="#"]:after {
    content: ""; }

/* line 42, ../scss/includes/_print.scss */
pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

/* line 47, ../scss/includes/_print.scss */
thead {
    display: table-header-group; }

/* line 51, ../scss/includes/_print.scss */
tr, img {
    page-break-inside: avoid; }

/* line 55, ../scss/includes/_print.scss */
img {
    max-width: 100% !important; }

@page {
    margin: 0.5cm; }
/* line 63, ../scss/includes/_print.scss */
p, h2, h3 {
    orphans: 3;
    widows: 3; }

/* line 68, ../scss/includes/_print.scss */
h2,
h3 {
    page-break-after: avoid; }

/* line 74, ../scss/includes/_print.scss */
.sidebar,
.page-navigation,
.wp-prev-next,
.respond-form,
nav,
.hidden-print {
    display: none; }

/* line 83, ../scss/includes/_print.scss */
.collapse {
    display: block !important;
    height: auto !important; }