{
    "notifications_sender_email": "{{ notifications_sender_email }}",
    "notifications_sender_name": "{{ notifications_sender_name }}",
    "notifications_reply_to": "{{ notifications_reply_to }}",

    "smtp_server": "{{ smtp_server }}",
    "smtp_username": "{{ smtp_username }}",
    "smtp_password": "{{ smtp_password }}",

    "datacite_url": "https://{{ datacite_server }}",
    "datacite_username": "{{ datacite_username }}",
    "datacite_password": "{{ datacite_password }}",

    "epic_url": "{{ epic_url }}",
    "epic_handle_prefix": "{{ epic_handle_prefix }}",
    "epic_key": "{{ credentials_store }}/epic_key.pem",
    "epic_certificate": "{{ credentials_store }}/epic_cert.pem",

    "yoda_eus_fqdn": "{{ yoda_eus_fqdn }}",
    "eus_api_secret": "{{ smtp_password }}"
}
