---
# copyright Utrecht University

- name: Import RPM key for NodeSource
  rpm_key:
    key: https://rpm.nodesource.com/pub/el/NODESOURCE-GPG-SIGNING-KEY-EL
    state: present


- name: Add NodeSource repositories for Node.js
  package:
    name: "https://rpm.nodesource.com/pub_8.x/el/7/x86_64/nodesource-release-el7-1.noarch.rpm"
    state: present


- name: Ensure Node.js and npm are installed
  package:
    name: nodejs-8*
    state: present
  when: not ansible_check_mode


- name: Ensure SASS compiler package is installed
  npm:
    name: sass
    global: yes
