{{ account_user }}
{{ account_group }}
{{ icatzone }}
{{ icat_port }}
{{ port_range_begin }}
{{ port_range_end }}
{{ vault_directory }}
{{ zone_key }}
{{ negotiation_key }}
{{ control_plane_port }}
{{ control_plane_key }}
{{ schema_uri }}
{{ irods_admin }}
{{ irods_passwd }}
yes
{{ inventory_hostname }}
5432
{{ irods_database }}
{{ irods_database_user }}
{{ irods_database_password }}
yes
