{{ irods_service_account }}
{{ irods_service_account }}
{{ irods_zone }}
{{ irods_icat_port }}
{{ irods_port_range_begin }}
{{ irods_port_range_end }}
{{ irods_vault_directory }}
{{ irods_zone_key }}
{{ irods_negotiation_key }}
{{ irods_control_plane_port }}
{{ irods_control_plane_key }}
{{ irods_schema_uri }}
{{ irods_admin }}
{{ irods_password }}
yes
{{ irods_database_fqdn }}
{{ irods_database_port }}
{{ irods_database_name }}
{{ irods_database_user }}
{{ irods_database_password }}
yes
