{{ irods.service_account }}
{{ irods.service_account }}
{{ irods.icat.zone }}
{{ irods.icat.port }}
{{ irods.port_range.begin }}
{{ irods.port_range.end }}
{{ irods.vault_directory }}
{{ irods_zone_key }}
{{ irods_negotiation_key }}
{{ irods.control_plane_port }}
{{ irods_control_plane_key }}
{{ irods.schema_uri }}
{{ irods.admin }}
{{ irods.password }}
yes
{{ hostvars['database']['ansible_eth1']['ipv4']['address'] }}
{{ irods.database.port }}
{{ irods.database.name }}
{{ irods.database.user }}
{{ irods.database.password }}
yes
