---
# copyright Utrecht University

- name: Ensure dependencies for Ansible OpenSSL module are installed
  package:
    name: pyOpenSSL
    state: present


- name: Ensure an OpenSSL 4096 bits RSA private key is present
  openssl_privatekey:
    path: '{{ openssl_private_dir }}/{{ openssl_key_selfsigned }}'
    size: 4096
    type: RSA
    force: False
    state: present


- name: Ensure an OpenSSL certificate signing request is present
  command: "openssl req -new -sha256 \
    -key '{{ openssl_private_dir }}/{{ openssl_key_selfsigned }}' \
    -out '{{ openssl_csr_selfsigned }}' -batch -subj \
    '/O={{ openssl_o }}/C={{ openssl_c }}\
     /localityName={{ openssl_localityName }}\
     /commonName={{ certificate_domain }}'"
  args:
    chdir: '{{ openssl_certs_dir }}'
    creates: '{{ openssl_csr_selfsigned }}'


- name: Ensure an OpenSSL self signed certificate is present
  command: >
    openssl x509 -req -sha256 -days 365
    -in '{{ openssl_csr_selfsigned }}'
    -signkey '{{ openssl_private_dir }}/{{ openssl_key_selfsigned }}'
    -out '{{ openssl_crt_selfsigned }}'
  args:
    chdir: '{{ openssl_certs_dir }}'
    creates: '{{ openssl_crt_selfsigned }}'


- name: Ensure signed private key is present
  command: >
    cp '{{ openssl_private_dir }}/{{ openssl_key_selfsigned }}'
    '{{ openssl_private_dir }}/{{ openssl_key_signed }}'
  args:
    creates: '{{ openssl_private_dir }}/{{ openssl_key_signed }}'


- name: Ensure signed certificate is present
  command: >
    cp '{{ openssl_certs_dir }}/{{ openssl_crt_selfsigned }}'
    '{{ openssl_certs_dir }}/{{ openssl_crt_signed }}'
  args:
    creates: '{{ openssl_certs_dir }}/{{ openssl_crt_signed }}'


- name: Ensure CA chain is present
  command: >
    cp '{{ openssl_certs_dir }}/{{ openssl_crt_selfsigned }}'
    '{{ openssl_certs_dir }}/{{ openssl_chain }}'
  args:
    creates: '{{ openssl_certs_dir }}/{{ openssl_chain }}'


- name: Ensure CA chain with signed certificate is present
  command: >
    cp '{{ openssl_certs_dir }}/{{ openssl_crt_selfsigned }}'
    '{{ openssl_certs_dir }}/{{ openssl_crt_signed_and_chain }}'
  args:
    creates: '{{ openssl_certs_dir }}/{{ openssl_crt_signed_and_chain }}'


- name: Ensure Diffie-Hellman parameters are present
  command: openssl dhparam -2 -out {{ openssl_dhparams }} 2048
  args:
    chdir: '{{ openssl_private_dir }}'
    creates: '{{ openssl_private_dir }}/{{ openssl_dhparams }}'


- name: Ensure certificate files have correct permissions
  file:
    path: '{{ item }}'
    mode: 0644
    state: file
  with_items:
    - '{{ openssl_certs_dir }}/{{ openssl_crt_signed }}'
    - '{{ openssl_certs_dir }}/{{ openssl_crt_signed_and_chain }}'
  when: not ansible_check_mode
