---
# copyright Utrecht University

- name: Ensure old dependencies for Ansible OpenSSL module are absent
  package:
    name: pyOpenSSL
    state: absent


- name: Ensure dependencies for Ansible OpenSSL module are present
  package:
    name: python-cryptography
    state: present


- name: Ensure an OpenSSL 4096 bits RSA private key is present
  openssl_privatekey:
    path: '{{ openssl_private_dir }}/{{ openssl_key_selfsigned }}'
    size: 4096
    type: RSA
    force: no
    state: present


- name: Ensure an OpenSSL certificate signing request is present
  openssl_csr:
    path: '{{ openssl_certs_dir }}/{{ openssl_csr_selfsigned }}'
    privatekey_path: '{{ openssl_private_dir }}/{{ openssl_key_selfsigned }}'
    digest: sha256
    country_name: '{{ openssl_c }}'
    organization_name: '{{ openssl_o }}'
    locality_name: '{{ openssl_localityName }}'
    common_name: '{{ certificate_domain }}'
    force: no
    state: present


- name: Ensure an OpenSSL self signed certificate is present
  openssl_certificate:
    path: '{{ openssl_certs_dir }}/{{ openssl_crt_selfsigned }}'
    privatekey_path: '{{ openssl_private_dir }}/{{ openssl_key_selfsigned }}'
    csr_path: '{{ openssl_certs_dir }}/{{ openssl_csr_selfsigned }}'
    provider: selfsigned
    force: no
    state: present


- name: Ensure signed private key is present
  command: >
    cp '{{ openssl_private_dir }}/{{ openssl_key_selfsigned }}'
    '{{ openssl_private_dir }}/{{ openssl_key_signed }}'
  args:
    creates: '{{ openssl_private_dir }}/{{ openssl_key_signed }}'


- name: Ensure signed certificate is present
  command: >
    cp '{{ openssl_certs_dir }}/{{ openssl_crt_selfsigned }}'
    '{{ openssl_certs_dir }}/{{ openssl_crt_signed }}'
  args:
    creates: '{{ openssl_certs_dir }}/{{ openssl_crt_signed }}'


- name: Ensure CA chain is present
  command: >
    cp '{{ openssl_certs_dir }}/{{ openssl_crt_selfsigned }}'
    '{{ openssl_certs_dir }}/{{ openssl_chain }}'
  args:
    creates: '{{ openssl_certs_dir }}/{{ openssl_chain }}'


- name: Ensure CA chain with signed certificate is present
  command: >
    cp '{{ openssl_certs_dir }}/{{ openssl_crt_selfsigned }}'
    '{{ openssl_certs_dir }}/{{ openssl_crt_signed_and_chain }}'
  args:
    creates: '{{ openssl_certs_dir }}/{{ openssl_crt_signed_and_chain }}'


- name: Ensure Diffie-Hellman parameters (2048 bits) are present
  openssl_dhparam:
    path: '{{ openssl_private_dir }}/{{ openssl_dhparams }}'
    size: 2048
    force: no
    state: present


- name: Ensure certificate files have correct permissions
  file:
    path: '{{ item }}'
    mode: 0644
    group: 'root'
    owner: 'root'
    state: file
  with_items:
    - '{{ openssl_certs_dir }}/{{ openssl_crt_signed }}'
    - '{{ openssl_certs_dir }}/{{ openssl_crt_signed_and_chain }}'
  when: not ansible_check_mode
