# {{ ansible_managed }}
#
# Apache mod_evasive Configuration
# This configuration helps protect against Fuzzer, DDoS, and brute force attacks by
# blocking overly frequent requests from the same IP address.
# For more information on each directive and additional configuration options, refer to:
# https://docs.cpanel.net/ea4/apache/apache-modules/apache-module-evasive/

# The logging of evasive actions can be found in Apache's error log 

<IfModule mod_evasive20.c>
    DOSHashTableSize    {{mod_evasive_conf['hash_table_size']}}
    DOSPageCount        {{mod_evasive_conf['page_count']}}
    DOSSiteCount        {{mod_evasive_conf['site_count']}}
    DOSPageInterval     {{mod_evasive_conf['page_interval']}}
    DOSSiteInterval     {{mod_evasive_conf['site_interval']}}
    DOSBlockingPeriod   {{mod_evasive_conf['block_period']}}
</IfModule>
