---
# copyright Utrecht University

- name: Ensure Ansible dependencies are installed
  package:
    name:
      - libsemanage-python
      - libselinux-python
      - policycoreutils-python
    state: present


- name: Ensure basics (vim, bind-utils, etc.) are installed
  package:
    name:
      - bind-utils
      - vim
      - htop
      - git
      - tmux
    state: present
