---
# copyright Utrecht University

- name: Ensure test users exists
  user:
    name: '{{ item.name }}'
    password: "{{ item.password | password_hash('sha512') }}"
  with_items: '{{ test_users }}'


- name: Ensure Yoda test users exists
  become_user: '{{ irods_service_account }}'
  become: yes
  irods_mkuser:
    name: '{{ item.name }}'
  with_items: '{{ test_users }}'


- name: Ensure Yoda test users have type
  become_user: '{{ irods_service_account }}'
  become: yes
  irods_moduser:
    name: '{{ item.name }}'
    option: 'type'
    value: '{{ item.type }}'
  with_items: '{{ test_users }}'


- name: Ensure Yoda test users have password
  become_user: '{{ irods_service_account }}'
  become: yes
  irods_moduser:
    name: '{{ item.name }}'
    option: 'password'
    value: '{{ item.password }}'
  with_items: '{{ test_users }}'


- name: Ensure Yoda test groups exists
  become_user: '{{ irods_service_account }}'
  become: yes
  yoda_addgroup:
    groupName: '{{ item.groupName }}'
    category: '{{ item.category }}'
    subcategory: '{{ item.subcategory }}'
    description: 'Auto-generated by Ansible'
  with_items: '{{ test_groups }}'


- name: Ensure Yoda users are added to groups
  become_user: '{{ irods_service_account }}'
  become: yes
  yoda_addgroupuser:
    groupName: '{{ item.groupName }}'
    user: '{{ item.user }}'
    role: '{{ item.role }}'
  with_items: '{{ test_groupusers }}'


- name: Ensure Yoda intake datamanager has read access to grp-vault folders
  become_user: '{{ irods_service_account }}'
  become: yes
  command:
    ichmod -M read grp-datamanager-initial /tempZone/home/grp-vault-initial
  ignore_errors: true


- name: Ensure Yoda intake datamanager has read access to grp-vault folders
  become_user: '{{ irods_service_account }}'
  become: yes
  command:
    ichmod -M read grp-datamanager-test /tempZone/home/grp-vault-test
  ignore_errors: true


- name: Ensure Yoda test data directory is present in Yoda
  become_user: '{{ irods_service_account }}'
  become: yes
  command:
    imkdir /{{ irods_zone }}/home/research-initial/testdata
  ignore_errors: true


- name: Ensure Yoda test data directory is present
  become_user: '{{ irods_service_account }}'
  become: yes
  file:
    path: '~/testdata/'
    state: directory
    mode: 0755


- name: Ensure Yoda test data directory is present in Yoda
  become_user: '{{ irods_service_account }}'
  become: yes
  command:
    imkdir /{{ irods_zone }}/home/research-initial/testdata
  ignore_errors: true


- name: Ensure Yoda test files are present
  become_user: '{{ irods_service_account }}'
  become: yes
  copy:
    src: '{{ item }}'
    dest: '~/testdata/{{ item }}'
    mode: 0644
  with_items:
    - 'lorem.txt'
    - 'SIPI_Jelly_Beans_4.1.07.tiff'


- name: Ensure Yoda test files are present in Yoda
  become_user: '{{ irods_service_account }}'
  become: yes
  shell:
    iput -f ~/testdata/{{ item }} /{{ irods_zone }}/home/research-initial/testdata
  with_items:
    - 'lorem.txt'
    - 'SIPI_Jelly_Beans_4.1.07.tiff'


- name: Ensure intake module cronjob rules are present
  become_user: '{{ irods_service_account }}'
  become: yes
  copy:
    src: '{{ item }}'
    dest: '~/.irods/{{ item }}'
    mode: 0644
  with_items:
    - 'job_movetovault.r'
    - 'job_checksums.r'


- name: Configure cronjob to move grp-intake-* datapackages to the grp-vault-*
  become_user: '{{ irods_service_account }}'
  become: yes
  cron:
    name: 'job_movetovault.r'
    minute: '*'
    job: '/bin/irule -F /var/lib/irods/.irods/job_movetovault.r >>$HOME/log/job_movetovault.log 2>&1'


- name: Configure cronjob to make checksums of datapackages in grp-vault-*
  become_user: '{{ irods_service_account }}'
  become: yes
  cron:
    name: 'job_checksums.r'
    minute: '*'
    job: '/bin/irule -F /var/lib/irods/.irods/job_checksums.r >>$HOME/log/job_checksums.log 2>&1'


- name: Ensure Yoda licenses directory is present
  become_user: '{{ irods_service_account }}'
  become: yes
  command:
    imkdir /{{ irods_zone }}/yoda/licenses
  ignore_errors: true


- name: Ensure licenses are present in Yoda
  become_user: '{{ irods_service_account }}'
  become: yes
  command:
    iput -f '/etc/irods/irods-ruleset-research/tools/licenses/{{ item }}' '/{{ irods_zone }}/yoda/licenses/{{ item }}'
  with_items:
    - "Creative Commons Attribution 4.0 International Public License.txt"
    - "Creative Commons Attribution 4.0 International Public License.uri"
    - "Creative Commons Attribution-ShareAlike 4.0 International Public License.txt"
    - "Creative Commons Attribution-ShareAlike 4.0 International Public License.uri"
    - "Open Data Commons Attribution License (ODC-By) v1.0.txt"
    - "Open Data Commons Attribution License (ODC-By) v1.0.uri"
