---
# copyright Utrecht University

- name: Add repository for PHP 7.2
  yum: 
    name: http://rpms.remirepo.net/enterprise/remi-release-7.rpm
    state: present


- name: Ensure PHP packages are installed
  package:
    name: '{{ item }}'
    state: latest
  with_items:
  - php
  - php-cli
  - php-xml
  - php-pecl-mcrypt
  notify: Restart Apache webserver


- name: Allow PHP to open TCP sockets in SELinux config
  seboolean:
    name: httpd_can_network_connect
    state: yes
    persistent: yes
  when: ansible_selinux


- name: Ensure PHP is configured
  ini_file:
    path: /etc/php.ini
    section: '{{ item.section }}'
    option: '{{ item.option }}'
    value: '{{ item.value }}'
    mode: 0600
  with_items:
    - section: PHP
      option: expose_php
      value: Off
    - section: PHP
      option: max_execution_time
      value: 120
    - section: Date
      option: date.timezone
      value: '{{ timezone }}'
  notify: Restart Apache webserver
