{% raw %}
<?php  if ( ! defined('BASEPATH')) exit('No direct script access allowed');
// Yoda Portal configuration {{{
error_reporting(E_ALL);
// ini_set('display_errors', FALSE);
// ini_set('log_errors', TRUE);
// ini_set('error_log', APPPATH.'/logs/all_errors');

// NOTE: The encryption key must be set to a random value in config_local.php,
//       like this:
//$config['encryption_key'] = '12345678901234567890123456789012';
{% endraw %}

$config['base_url']            = 'https://{{ yoda_portal_fqdn }}';

$config['rodsServerAddress']   = '{{ irods_icat_fqdn }}';
$config['rodsServerPort']      = '{{ irods_icat_port }}';
$config['rodsServerZone']      = '{{ irods_zone }}';
$config['rodsDefaultResource'] = '{{ irods_default_resc }}';
$config['encryption_key']      = '{{ yoda_php_encryption_key }}';

// Config for versioning assets (browser caching).
$config['assetsVersion'] = '{{ yoda_php_assets_version }}';

{% if irods_authentication_scheme == 'PAM' %}
$config['rodsAuthType']        = 'PAM'; // Either STANDARD or PAM.
{% else %}
$config['rodsAuthType']        = 'STANDARD'; // Either STANDARD or PAM.
{% endif %}
{% if codeigniter_environment == 'development' %}
$config['log_threshold']       = 4;
{% elif codeigniter_environment == 'testing' %}
$config['log_threshold']       = 4;
{% else %}
$config['log_threshold']       = 1;
{% endif %}

$config['yoda_eus_fqdn']       = '{{ yoda_eus_fqdn }}';
