# {{ ansible_managed }}
# yoda-portal-vhost.conf

<VirtualHost *:80>
    DocumentRoot "/var/www/yoda/public"
    ServerName {{ yoda_portal_fqdn }}

    # Always redirect to https.
    Redirect / https://{{ yoda_portal_fqdn }}/
</VirtualHost>

<VirtualHost *:443>
    DocumentRoot "/var/www/yoda/public"
    ServerName {{ yoda_portal_fqdn }}
    <Directory /var/www/yoda>
        Options FollowSymLinks MultiViews
        AllowOverride All
        Order allow,deny
        allow from all
    </Directory>

    #   SSL Engine Switch:
    #   Enable/Disable SSL for this virtual host.
    SSLEngine on

    #   SSL Protocol support:
    #   List the enable protocol levels with which clients will be able to
    #   connect.  Disable SSLv2 access by default:
    SSLProtocol all -SSLv2 -SSLv3

    #   SSL Cipher Suite:
    #   List the ciphers that the client is permitted to negotiate.
    #   See the mod_ssl documentation for a complete list.
    SSLCipherSuite HIGH:MEDIUM:!aNULL:!MD5

    #   Server Certificate:
    # Point SSLCertificateFile at a PEM encoded certificate.  If
    # the certificate is encrypted, then you will be prompted for a
    # pass phrase.  Note that a kill -HUP will prompt again.  A new
    # certificate can be generated using the genkey(1) command.
    SSLCertificateFile      /etc/pki/tls/certs/yoda_signed.crt

    #   Server Private Key:
    #   If the key is not combined with the certificate, use this
    #   directive to point at the key file.  Keep in mind that if
    #   you've both a RSA and a DSA private key you can configure
    #   both in parallel (to also allow the use of DSA ciphers, etc.)
    SSLCertificateKeyFile   /etc/pki/tls/private/yoda_key_signed.pem
</VirtualHost>