<VirtualHost *:80>
	DocumentRoot "/var/www/yoda/public"
	ServerName {{ portal_server_name }}
	<Directory /var/www/yoda>
			Options Indexes FollowSymLinks MultiViews
			AllowOverride All
			Order allow,deny
			allow from all
	</Directory>
</VirtualHost>
