<VirtualHost *:80>
    DocumentRoot "/var/www/yoda/public"
    ServerName {{ yoda_portal_fqdn }}

    # Always redirect to https.
    Redirect / https://{{ yoda_portal_fqdn }}/
</VirtualHost>

<VirtualHost *:443>
    DocumentRoot "/var/www/yoda/public"
    ServerName {{ yoda_portal_fqdn }}
    <Directory /var/www/yoda>
        Options Indexes FollowSymLinks MultiViews
        AllowOverride All
        Order allow,deny
        allow from all
    </Directory>

    SSLEngine on
    SSLCertificateFile      /etc/pki/tls/certs/yoda_signed.crt
    SSLCertificateKeyFile   /etc/pki/tls/private/yoda_key_signed.pem

    # HSTS (mod_headers is required) (15768000 seconds = 6 months).
    Header always set Strict-Transport-Security "max-age=15768000"

    # Modern configuration.
    SSLProtocol             all -SSLv3 -TLSv1 -TLSv1.1
    SSLCipherSuite          ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-SHA384:ECDHE-RSA-AES256-SHA384:ECDHE-ECDSA-AES128-SHA256:ECDHE-RSA-AES128-SHA256
    SSLHonorCipherOrder     on
    SSLCompression          off
</VirtualHost>