---
# copyright Utrecht University

- name: Remove all test users in iRODS
  become_user: '{{ irods_service_account }}'
  become: true
  command:
    iadmin rmuser '{{ item.name }}'
  ignore_errors: true
  with_items:
    - '{{ test_users + created_by_ta_users + oidc_test_users + eus_test_users }}'

- name: Remove test users
  user:
    name: '{{ item.name }}'
    password: "{{ item.password | password_hash('sha512') }}"
    state: absent
  with_items: '{{ test_users }}'
