{% raw -%}
<?php  if ( ! defined('BASEPATH')) exit('No direct script access allowed');
// Yoda Portal configuration {{{
{% endraw %}
{% if codeigniter_environment == 'development' %}
error_reporting(E_ALL);
ini_set('display_errors', TRUE);
ini_set('log_errors', FALSE);
{% else %}
error_reporting(0);
{% endif %}

{% raw %}
// NOTE: The encryption key must be set to a random value in config_local.php,
//       like this:
//$config['encryption_key'] = '12345678901234567890123456789012';
{% endraw %}

$config['base_url']            = 'https://{{ yoda_portal_fqdn }}';

$config['rodsServerAddress']   = '{{ irods_icat_fqdn }}';
$config['rodsServerPort']      = '{{ irods_icat_port }}';
$config['rodsServerZone']      = '{{ irods_zone }}';
$config['rodsDefaultResource'] = '{{ irods_default_resc }}';
$config['encryption_key']      = '{{ yoda_php_encryption_key }}';

// Config for Yoda version.
$config['yodaVersion'] = '{{ yoda_version }}';
$config['yodaCommit'] = '{{ portalchanges.results.2.after }}';

// Config for versioning assets (browser caching).
$config['assetsVersion'] = '{{ yoda_php_assets_version }}';

{% if irods_authentication_scheme == 'PAM' %}
$config['rodsAuthType']        = 'PAM'; // Either STANDARD or PAM.
{% else %}
$config['rodsAuthType']        = 'STANDARD'; // Either STANDARD or PAM.
{% endif %}
{% if codeigniter_environment == 'development' %}
$config['log_threshold']       = 4;
{% elif codeigniter_environment == 'testing' %}
$config['log_threshold']       = 4;
{% else %}
$config['log_threshold']       = 1;
{% endif %}

$config['yoda_eus_fqdn']       = '{{ yoda_eus_fqdn }}';

// Config for OIDC
$config['oidc_client_id']       = '{{ oidc_client_id     | default("") }}';
$config['oidc_client_secret']   = '{{ oidc_client_secret | default("") }}';
$config['oidc_callback_uri']    = '{{ "https://" ~ yoda_portal_fqdn ~ "/user/callback" }}';
$config['oidc_auth_base_uri']   = '{{ oidc_auth_base_uri | default("") }}';
$config['oidc_token_uri']       = '{{ oidc_token_uri     | default("") }}';
$config['oidc_scopes']          = '{{ oidc_scopes    | default("openid") }}';
$config['oidc_acr_values']      = '{{ oidc_acr_values    | default("") }}';
$config['oidc_email_field']     = '{{ oidc_email_field   | default("email") }}';
$config['oidc_signin_text']     = '{{ oidc_signin_text   | default("Sign in with OIDC") }}';
$config['oidc_auth_uri']        = "${config['oidc_auth_base_uri']}?response_type=code&client_id=${config['oidc_client_id']}&redirect_uri=${config['oidc_callback_uri']}&scope=${config['oidc_scopes']}&acr_values=${config['oidc_acr_values']}";
$config['oidc_active']          = {{ oidc_active | default(false) }};

// Branding
{% if portal_title_text %}
$config['portalTitleText'] = '{{ portal_title_text }}';
{% endif %}

{% if portal_shortcut_icon %}
$config['portalShortcutIcon'] = '/static/img/custom/{{ portal_shortcut_icon | basename }}';
{% endif %}

{% if portal_logo %}
$config['portalLogo'] = '/static/img/custom/{{ portal_logo | basename }}';
{% endif %}
