{% raw -%}
<?php  if ( ! defined('BASEPATH')) exit('No direct script access allowed');
// Yoda Portal configuration {{{
{% endraw %}
{% if codeigniter_environment == 'development' %}
error_reporting(E_ALL);
ini_set('display_errors', TRUE);
ini_set('log_errors', FALSE);
{% else %}
error_reporting(0);
{% endif %}

{% raw %}
// NOTE: The encryption key must be set to a random value in config_local.php,
//       like this:
//$config['encryption_key'] = '12345678901234567890123456789012';
{% endraw %}

$config['base_url']            = 'https://{{ yoda_portal_fqdn }}';

$config['rodsServerAddress']   = '{{ irods_icat_fqdn }}';
$config['rodsServerPort']      = '{{ irods_icat_port }}';
$config['rodsServerZone']      = '{{ irods_zone }}';
$config['rodsDefaultResource'] = '{{ irods_default_resc }}';
$config['encryption_key']      = '{{ yoda_php_encryption_key }}';

// Config for Yoda version.
$config['yodaVersion'] = '{{ yoda_version }}';
$config['yodaCommit'] = '{{ portalchanges.results.2.after }}';

// Config for versioning assets (browser caching).
$config['assetsVersion'] = '{{ yoda_php_assets_version }}';

{% if irods_authentication_scheme == 'PAM' %}
$config['rodsAuthType']        = 'PAM'; // Either STANDARD or PAM.
{% else %}
$config['rodsAuthType']        = 'STANDARD'; // Either STANDARD or PAM.
{% endif %}
{% if codeigniter_environment == 'development' %}
$config['log_threshold']       = 4;
{% elif codeigniter_environment == 'testing' %}
$config['log_threshold']       = 4;
{% else %}
$config['log_threshold']       = 1;
{% endif %}

$config['yoda_eus_fqdn']       = '{{ yoda_eus_fqdn }}';

// Config for OIDC
$config['oidc_clientId']        = '{{ oidc_clientId }}';
$config['oidc_clientSecret']    = '{{ oidc_clientSecret }}';
$config['oidc_callbackUrl']     = '{{ oidc_callbackUrl }}';
$config['oidc_authUrl']         = '{{ oidc_authUrl }}';
$config['oidc_tokenUrl']        = '{{ oidc_tokenUrl }}';
$config['oidc_scopes']		= '{{ oidc_scopes }}';
$config['oidc_acrValues']	= '{{ oidc_acrValues }}';
$config['oidc_emailField']	= '{{ oidc_mailField | default(email) }}';
$config['oidc_active']		= {% if oidc_clientId is defined and oidc_clientSecret is defined and oidc_callbackUrl is defined and oidc_authUrl is defined and oidc_tokenUrl is defined %}true{% else %}false{% endif %};
$config['oidc_signing_text']	= '{{ oidc_signin_text }}';
