# General Flask configuration
SECRET_KEY          = '{{ flask_secret_key }}'
PORTAL_TITLE_TEXT   = '{{ flask_portal_title }}'
LOGO_URL            = '{{ flask_logo_url }}' 
YODA_VERSION        = '{{ yoda_version }}'
YODA_COMMIT         = '{{ yoda_commit }}'
INTAKE_ENABLED      = '{{ enable_intake }}'
DATAREQUEST_ENABLED = '{{ enable_datarequest }}'

# Flask-Session configuration
SESSION_TYPE                = 'filesystem'
SESSION_COOKIE_HTTPONLY     = True
SESSION_COOKIE_SECURE       = True 
PERMANENT_SESSION_LIFETIME  = {{ flask_permanent_session_lifetime }} 
SESSION_USE_SIGNER          = True
SESSION_FILE_DIR            = '{{ flask_session_file_dir }}'
