#!/bin/bash
# {{ ansible_managed }}

TIMESTAMP=`date +%s`
OFFSET={{ (ansible_date_time.tz_offset|int / 100)|int }}
TIMESTAMP=$(( $TIMESTAMP - ($OFFSET * 60 * 60)))
/usr/bin/irule -r irods_rule_engine_plugin-irods_rule_language-instance -F /etc/irods/yoda-ruleset/tools/revision-clean-up.r "*endOfCalendarDay=${TIMESTAMP}" '*bucketcase="{{ revision_strategy }}"'
