#!/bin/bash
# {{ ansible_managed }}

TIMESTAMP=`date +%s`
OFFSET={{ (ansible_date_time.tz_offset|int / 100)|int }}
TIMESTAMP=$(( $TIMESTAMP - ($OFFSET * 60 * 60)))
/etc/irods/yoda-ruleset/tools/revision-clean-up.py ${TIMESTAMP} '{{ revision_strategy }}'
