# {{ ansible_managed }}
#
# Yoda ruleset configuration.
# This file should be named "rules_uu.cfg" in the root of this ruleset package.
#
# All non-empty values must be quoted with single quotes (')
# Special characters, including "'", must not be escaped.
# A missing value (interpreted as None) usually means a feature is disabled.

environment                    = '{{ yoda_environment }}'

resource_primary               = '{{ irods_default_resc }}'
resource_replica               = '{{ irods_repl_resc | join (" ") }}'
resource_research              = '{{ resource_research }}'
resource_vault                 = '{{ resource_vault }}'
resource_trigger_pol           = '{{ irods_resc_trigger_pol | join (" ") }}'

notifications_enabled          = '{{ ["false", "true"][send_notifications|int] }}'
notifications_sender_email     = '{{ notifications_sender_email }}'
notifications_sender_name      = '{{ notifications_sender_name }}'
notifications_reply_to         = '{{ notifications_reply_to }}'

smtp_server                    = '{{ smtp_server }}'
smtp_username                  = '{{ smtp_username }}'
smtp_password                  = '{{ smtp_password }}'
smtp_auth                      = '{{ ["false", "true"][smtp_auth|int] }}'
smtp_starttls                  = '{{ ["false", "true"][smtp_starttls|int] }}'

datacite_rest_api_url          = 'https://{{ datacite_rest_api_url }}'
datacite_username              = '{{ datacite_username }}'
datacite_password              = '{{ datacite_password }}'
datacite_publisher             = '{{ datacite_publisher }}'

eus_api_fqdn                   = '{{ eus_api_fqdn }}'
eus_api_port                   = '{{ eus_api_port }}'
eus_api_secret                 = '{{ eus_api_secret }}'

enable_deposit                 = '{{ ["false", "true"][enable_deposit|int] }}'
enable_open_search             = '{{ ["false", "true"][enable_open_search|int] }}'
enable_intake                  = '{{ ["false", "true"][enable_intake|int] }}'
enable_datarequest             = '{{ ["false", "true"][enable_datarequest|int] }}'
yoda_portal_fqdn               = '{{ yoda_portal_fqdn }}'

epic_pid_enabled               = '{{ ["false", "true"][epic_pid_enabled|int] }}'
{% if epic_pid_enabled %}
epic_url                       = '{{ epic_url }}'
epic_handle_prefix             = '{{ epic_handle_prefix }}'
epic_key                       = '{{ credentials_store }}/epic_key.pem'
epic_certificate               = '{{ credentials_store }}/epic_cert.pem'
{% endif %}

enable_data_package_reference  = '{{ ["false", "true"][enable_data_package_reference|int] }}'

enable_tokens                  = '{{ ["false", "true"][enable_tokens|int] }}'
{% if enable_tokens %}
token_database                 = '{{ token_database }}'
token_database_password        = '{{ token_database_password }}'
token_length                   = '{{ token_length }}'
token_lifetime                 = '{{ token_lifetime }}'
token_expiration_notification  = '{{ token_expiration_notification }}'
{% endif %}

enable_tape_archive            = '{{ ["false", "true"][enable_tape_archive|int] }}'

enable_data_package_archive    = '{{ ["false", "true"][enable_data_package_archive|int] }}'
{% if enable_data_package_archive %}
data_package_archive_minimum   = '{{ data_package_archive_minimum }}'
data_package_archive_maximum   = '{{ data_package_archive_maximum }}'
{% endif %}

temporary_files                = '{{ temporary_files | join (" ") }}'

{% if external_users %}
external_users_domain_filter   = '{{ external_users_domain_filter | replace (' ','') | replace('|', ' ')}}'
{% endif %}
